@import 'src/assets/fonts/fonts';

$heading-font: 'PlayfairDisplay';
$regular-font: 'SofiaPro';
$primary-color: #222;

h1 {
  font: {
    family: $heading-font;
    size: 48px;
    weight: normal;
  }
  margin-bottom: 0;
  line-height: 1.25;
  color: $primary-color;
  letter-spacing: 1.3px;
}

h6 {
  font: {
    family: $regular-font;
    size: 16px;
  }
  color: $primary-color;
  opacity: .5;
}

.faq-block {
  padding-right: 20px;
}

.faq-block + .faq-block {
  padding-left: 20px;
  padding-right: 0;
}
.faq-wrapper {
  padding: 0 77px;
  background-image: linear-gradient(to top, #f7eae4, rgba(247, 234, 228, 0));
  ul {
    padding: 0;
    list-style: none;
  }
  li {
    border-bottom: 2px solid rgba(34, 34, 34, 0.25);
  }
}
