@import 'src/assets/fonts/fonts';
@import 'src/variables';

h1 {
  font: {
    family: $heading-font;
    size: 48px;
    weight: normal;
  }
  margin-bottom: 0;
  line-height: 1.25;
  color: $primary-color;
}

h6 {
  font: {
    family: $regular-font;
    size: 16px;
  }
  color: $primary-color;
  opacity: .5;
}

.faq-block {
  @include desktop-breakpoint {
    padding-right: 20px;
  }
}

.faq-block + .faq-block {
  @include desktop-breakpoint {
    padding-left: 20px;
    padding-right: 0;
  }
}
.faq-wrapper {
  padding-left: 77px !important;
  padding-right: 77px !important;
  background-image: linear-gradient(to top, #f7eae4, rgba(247, 234, 228, 0));
  ul {
    padding: 0;
    list-style: none;
  }
  li {
    border-bottom: 2px solid rgba(34, 34, 34, 0.25);
  }

  @include mobile-breakpoint {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}
