<div class="faq-wrapper py-5">
  <h1 class="mb-5">Frequently asked questions</h1>
  <div class="row">
    <div class="col-xl-6">
      <h6 class="mb-3">Getting Started</h6>
      <ul>
        <li class="py-4">
          <a class="mb-4"
           data-toggle="collapse"
           href="#collapseExample1"
           role="button"
           aria-expanded="false"
           aria-controls="collapseExample1">What is a booking request?
          </a>
          <div class="collapse" id="collapseExample1">
            <div class="card card-body pl-5 pb-2">
              After sending your request, the model will have the opportunity to accept of decline. Usually models respond.
            </div>
          </div>
        </li>
        <li class="py-4">
          <a class="mb-4"
           data-toggle="collapse"
           href="#collapseExample2"
           role="button"
           aria-expanded="false"
           aria-controls="collapseExample2">What is an option request?
          </a>
        </li>
        <li class="py-4">
          <a class="mb-4"
           data-toggle="collapse"
           href="#collapseExample3"
           role="button"
           aria-expanded="false"
           aria-controls="collapseExample3">What is a casting request?
          </a>
        </li>
      </ul>
    </div>
    <div class="col-xl-6">
      <h6 class="mb-3">Getting Started</h6>
      <ul>
        <li class="py-4">
          <a class="mb-4"
           data-toggle="collapse"
           href="#collapseExample4"
           role="button"
           aria-expanded="false"
           aria-controls="collapseExample4">What is a booking request?
          </a>
          <div class="collapse" id="collapseExample4">
            <div class="card card-body pl-5 pb-2">
              After sending your request, the model will have the opportunity to accept of decline. Usually models respond.
            </div>
          </div>
        </li>
        <li class="py-4">
          <a class="mb-4"
           data-toggle="collapse"
           href="#collapseExample2"
           role="button"
           aria-expanded="false"
           aria-controls="collapseExample2">What is an option request?
          </a>
        </li>
        <li class="py-4">
          <a class="mb-4"
           data-toggle="collapse"
           href="#collapseExample3"
           role="button"
           aria-expanded="false"
           aria-controls="collapseExample3">What is a casting request?
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
