@font-face {
    font-family: 'PlayfairDisplay';
    src: url('/assets/fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'SofiaPro';
	src: url('/assets/fonts/SofiaProRegular/SofiaProRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}