@import 'src/assets/fonts/fonts';

$heading-font: 'PlayfairDisplay';
$regular-font: 'SofiaPro';
$primary-color: #222;

@mixin desktop-breakpoint {
  @media screen and (min-width: 1025px) {
    @content;
  }
}

@mixin tablet-breakpoint {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

:host {
  background: #fff;
}

main {
  max-width: 1440px;
  margin: auto;
}

.container {
  max-width: 1150px;
  padding-top: 120px;

  @include tablet-breakpoint {
    padding-top: 60px;
  }
}

.req-instructions {
  margin-bottom: 270px;
  @include tablet-breakpoint {
  	margin-bottom: 154px;
  }
}

h1 {
  font: {
    family: $heading-font;
    size: 48px;
  }
  margin-bottom: 0;
  line-height: 1.25;
  color: $primary-color;
}

h2.heading-enum {
  margin-top: 16px;
  font: {
    family: $heading-font;
    size: 54px;
  }
  line-height: 1;
  opacity: 0.5;
}

h1,
h2 {
  font-weight: normal;
}

h2,
p {
  font-family: $regular-font;
  color: $primary-color;
}

h2 {
  font-size: 32px;
}

p {
  font-size: 20px;
  line-height: 1.5;
  opacity: 0.6;
}

.request-heading {
  margin-bottom: 100px;
  @include tablet-breakpoint {
    text-align: center;
    max-width: 525px;
    padding: 0;
    margin: auto;
  }
}

.img-block.step-2 img {
  @include desktop-breakpoint {
    margin-left: -35px;
  }
}

.img-block img {

  @include tablet-breakpoint {
    display: block;
    width: 80%;
    margin: auto;
  }
}

.request-heading p {
  font-size: 24px;
  max-width: 600px;
  @include tablet-breakpoint {
  	line-height: 1.25;
  }
}

.request-heading h1 {
  @include tablet-breakpoint {
  	letter-spacing: 1.3px;
  }
}

.text-content {
  max-width: 450px;
  padding-left: 8px;
  box-sizing: content-box;

  @include tablet-breakpoint {
    margin: auto;
  }
}
