<main>
  <div class="container req-instructions px-2 px-lg-0">
    <div class="row">
      <div class="request-heading col-xl-14 pl-xl-5">
        <h1 class="sm-24 mb-1 mb-sm-2">How to send a request</h1>
        <p class="sm-16">Follow these instructions for setting up and booking your first model on our platform.</p>
      </div>
    </div>
    <div *ngFor="let step of stepsInfo; index as i">
      <app-request-step [order]="step.order" [stepInfo]="step" [idx]="i"></app-request-step>
    </div>
  </div>
  <app-faq-page></app-faq-page>
</main>