$heading-font: 'PlayfairDisplay';
$regular-font: 'SofiaPro';
$primary-color: #222;

@mixin desktop-breakpoint {
  @media screen and (min-width: 1025px) {
    @content;
  }
}

@mixin tablet-breakpoint {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin mobile-breakpoint {
  @media screen and (max-width: 568px) {
    @content;
  }
}


@mixin sm-mobile-breakpoint {
  @media screen and (max-width: 320px) {
    @content;
  }
}

.sm-16 {
  @include mobile-breakpoint {
    font-size: 16px !important;
    line-height: 1.5 !important;
    letter-spacing: 0.4px !important;
  }
}

.sm-24 {
  @include mobile-breakpoint {
    font-size: 24px !important;
    letter-spacing: 0.6px !important;
  }
}

.sm-20 {
  @include sm-mobile-breakpoint {
    font-size: 20px !important;
    letter-spacing: 0.5px !important;
  }
}