$font-size-base: 1rem;

$spacer: 1rem;
$spacer-base: $spacer / 2;
$spacers: (
  0: 0,
  1: $spacer-base,
  2: $spacer-base * 2,
  3: $spacer-base * 3,
  4: $spacer-base * 4,
  5: $spacer-base * 5,
  6: $spacer-base * 6,
  7: $spacer-base * 7,
  8: $spacer-base * 8,
  9: $spacer-base * 9,
);

$grid-columns: 24;
$grid-gutter-width: 0;

$grid-breakpoints: (
  xs: 0,
  sm: 414px,
  md: 568px,
  lg: 768px,
  xl: 1024px
);
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/utilities';